.header {
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* вирівнювання Welcome to Peymen з іконками */
  margin-bottom: 2rem;
}

.text {
  display: flex;
  flex-direction: column;
}

.sub {
  font-size: 0.95rem;
  color: #9faecb;
  margin: 0;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0.2rem 0 0 0;
  color: #2d355e;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* padding-bottom: 0.2rem;  */
}

.notification {
  position: relative;
  font-size: 1.2rem;
  color: #4b6cb7;
  cursor: pointer;
  
}

.dot {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
