.container {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('/src/assets/back.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}